.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




/* 追加CSS */
:root {
  --common-back-color: #F5F7FD;
  --common-back-light-color: #FCFCFF;
  --common-back-deep-color: #E9EDFA;
  --common-back-deep2-color: #D1DAF4;
  --common-main-color: #12187B;
  --common-main-light-color: #8289EC;
  --common-main-light2-color: #ABAFF1;

  --common-main-green-color: #4ec875;
  --common-main-green-light-color: #9ADFB0;
  --common-main-green-deep-color: #298346;
  --common-back-green-color: #EEFFF4;
  --common-back-green-light-color: #F6FDF9;
  --common-back-green-deep-color: #DAF7E9;
  --common-back-green-deep2-color: #C4F2DC;


  --common-body-margin: 25px 30px 130px 30px;
  --common-body-margin-top: 25px;
  --common-body-margin-bottom: 130px;
  --common-body-margin-LR: 30px;


  /* 高さ */
  --header-height: 70px;
  --footer-height: 190px;
}


h1, h2, h3, p, a, hr {
  color: var(--common-main-color);
  margin: 0;
}
